{% extends "base/base.html" %}
{% block title %}Password Reset Complete{% endblock %}
{% block start %}

<style>
  .para-style {
    padding-bottom: 20px;
    line-height: 1.6;
  }
</style>

<section class="section-content padding-bottom">
  <div class="container-xl d-flex justify-content-center align-items-center mt-5">
    <div class="row justify-content-center w-100">
      <div class="col-xl-5">
        <div class="card mb-4">
          <div class="card-header text-center" style="font-size: 25px;">
            ✅ Password Reset Complete
          </div>

          <div class="card-body text-center">
            <p class="para-style">
              Your password has been successfully updated.<br>
              You can now log in with your new password.
            </p>

            <a href="{% url 'login' %}" class="btn btn-primary">
              Go to Login
            </a>
          </div>

        </div>
      </div>
    </div>
  </div>
</section>

{% endblock %}
