{% extends "base/base.html" %}
{% load static %}

{% block title %}Login{% endblock %}

{% block start %}
<section class="section-content padding-bottom">
  <div class="container-xl d-flex justify-content-center align-items-center mt-5">
    <div class="row justify-content-center w-100">
      <div class="col-xl-4">
        <div class="card mb-4">
          <div class="card-header text-center" style="font-size: 25px;">
            Sign In
          </div>

          <div class="card-body">
            <form method="POST" action="{% url 'login' %}?next={{ request.GET.next }}">
              {% csrf_token %}
              {% include "base/alert.html" %}

              <!-- Username -->
              <div class="form-group">
                <input
                  type="text"
                  name="username"
                  placeholder="Username"
                  required
                  class="form-control"
                  autocomplete="username"
                />
              </div>

              <!-- Password -->
              <div class="form-group">
                <input
                  type="password"
                  name="password"
                  placeholder="Password"
                  required
                  class="form-control"
                />
              </div>

              <!-- Remember + Forgot -->
              <div class="form-group d-flex justify-content-between">
                <label class="custom-control custom-checkbox">
                  <input type="checkbox" checked class="custom-control-input" />
                  <span class="custom-control-label">Remember</span>
                </label>

                <a href="{% url 'password_reset' %}">Forgot password?</a>
              </div>

              <!-- Submit -->
              <div class="form-group">
                <button type="submit" class="btn btn-primary btn-block">
                  Login
                </button>
              </div>

              <p class="text-center mt-4">
                Don't have an account?
                <a href="{% url 'register' %}">Sign up</a>
              </p>

              <div class="line"></div>

              <!-- Social Login Disabled -->
              {% comment %}
              <div class="media-options">
                <a href="{% provider_login_url 'google' %}" class="field google">
                  <img src="{% static 'images/google.png' %}" class="google-img" alt="Google" />
                  <span>Login with Google</span>
                </a>
              </div>

              <div class="media-options">
                <a href="{% provider_login_url 'facebook' %}" class="field facebook">
                  <i class="bx bxl-facebook facebook-icon"></i>
                  <span>Login with Facebook</span>
                </a>
              </div>
              {% endcomment %}
              <!-- End Disabled -->
            </form>
          </div>

        </div>
      </div>
    </div>
  </div>
</section>
{% endblock %}
