{% extends "base/base.html" %}
{% load static %}

{% block title %}Register{% endblock %}

{% block start %}
<section class="section-content padding-bottom">
  <div class="container-xl d-flex justify-content-center align-items-center mt-5">
    <div class="row justify-content-center w-100">
      <div class="col-xl-4">

        <div class="card mb-4">
          <div class="card-header text-center" style="font-size: 25px;">
            Sign Up
          </div>

          <div class="card-body">
            <form method="POST">
              {% csrf_token %}
              {% include "base/alert.html" %}

              <!-- Username -->
              <div class="form-group">
                <input 
                  class="form-control"
                  type="text"
                  name="username"
                  placeholder="Username"
                  required
                  autocomplete="username"
                />
              </div>

              <!-- First Name -->
              <div class="form-group">
                <input 
                  class="form-control"
                  type="text"
                  name="first_name"
                  placeholder="First Name"
                  required
                  autocomplete="given-name"
                />
              </div>

              <!-- Last Name -->
              <div class="form-group">
                <input 
                  class="form-control"
                  type="text"
                  name="last_name"
                  placeholder="Last Name"
                  required
                  autocomplete="family-name"
                />
              </div>

              <!-- Email -->
              <div class="form-group">
                <input 
                  class="form-control"
                  type="email"
                  name="email"
                  placeholder="Email"
                  required
                  autocomplete="email"
                />
              </div>

              <!-- Password -->
              <div class="form-group">
                <input 
                  class="form-control"
                  type="password"
                  name="password"
                  placeholder="Password"
                  required
                />
              </div>

              <!-- Submit -->
              <div class="form-group">
                <button type="submit" class="btn btn-primary btn-block">
                  Register
                </button>
              </div>

              <p class="text-center mt-4">
                Already have an account?
                <a href="{% url 'login' %}">Sign in</a>
              </p>

              <div class="line"></div>

              <!-- 🔒 Social Login Disabled -->
              {% comment %}
              <div class="media-options">
                <a href="{% provider_login_url 'facebook' %}" class="field facebook">
                  <i class="bx bxl-facebook facebook-icon"></i>
                  <span>Register with Facebook</span>
                </a>
              </div>

              <div class="media-options">
                <a href="{% provider_login_url 'google' %}?next=/" class="field google">
                  <img src="{% static 'images/google.png' %}" class="google-img" /> 
                  <span>Register with Google</span>
                </a>
              </div>
              {% endcomment %}
              <!-- End Disabled -->

            </form>
          </div>

        </div>
      </div>
    </div>
  </div>
</section>
{% endblock %}
